# Ignore all hidden files everywhere.
# Use `git add -f` to add hidden files.
.*
__pycache__
*.pyc
*.log
# Ignore all the vim files on the top directory
/*.vim
[1-9]*.vim
/doc/tags
/target

!.editorconfig
!.travis.yml
!.gitignore
!.github
!.vintrc.yaml
