[package]
name = "maple"
build = "build.rs"
edition = "2021"
version = "0.1.31"
license = "MIT"
publish = false
include = ["/Cargo.toml", "src/*.rs"]
authors = ["Liu-Cheng Xu <xuliuchengxlc@gmail.com>"]
homepage = "https://github.com/liuchengxu/vim-clap"
categories = ["command-line-utilities"]
description = "Rust backend for the vim plugin vim-clap"

[dependencies]
tokio = { version = "1.9", features = ["rt"] }

maple_cli = { path = "crates/maple_cli" }

[build-dependencies]
built = { package = "built", version = "0.5", features = ["git2"] }
