[package]
name = "maple"
edition = "2018"
version = "0.1.0"
license = "MIT"
publish = false
include = ["/Cargo.toml", "src/*.rs"]
authors = ["Liu-Cheng Xu <xuliuchengxlc@gmail.com>"]
homepage = "https://github.com/liuchengxu/vim-clap"
categories = ["command-line-utilities"]
description = "vim-clap external filter gadget"

[dependencies]
regex = "1"
rayon = "1.2"
anyhow = "1.0"
structopt = "0.3"
bytecount = "0.6"
serde = { package = "serde", version = "1.0",  features = ["derive"] }
serde_json = "1.0"
lazy_static = "1.4.0"
fuzzy-matcher = "0.3.1"
crossbeam-channel = "0.3"

extracted_fzy = { path = "pythonx/clap/extracted_fzy" }
