[package]
name = "printer"
version = "0.1.0"
authors = ["Liu-Cheng Xu <xuliuchengxlc@gmail.com>"]
edition = "2021"
license = "MIT"
publish = false
homepage = "https://github.com/liuchengxu/vim-clap"

[dependencies]
serde = { package = "serde", version = "1.0",  features = ["derive"] }
serde_json = "1.0"

icon = { path = "../icon" }
types = { path = "../types" }
utility = { path = "../utility" }

[target.'cfg(not(windows))'.dev-dependencies]
rayon = "1.5"
termion = "1.5.1"
filter = { path = "../filter" }
