on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

# Release steps:
#
# 1. Bump version in CHANGELOG.md and plugin/clap.vim
# 2. Create a new tag: git tag v**
# 3. Push the tag: git push origin v**
#
name: Create Release

jobs:
  build:

    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Get changelog
        id: changelog
        shell: bash
        run: |
          bash ci/get_changelog.sh

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            ${{ steps.changelog.outputs.log }}
          draft: false
          prerelease: false
